mat-form-field{width:100%}.example-radio-group{display:flex;flex-direction:column;margin:15px 0;align-items:flex-start}.example-radio-button{margin:0px 5px}.buttonDialogue{margin:2rem !important}.body_dialogue{padding:2rem}