.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 0%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;

  .tablePayload{

    margin-top: 4rem;
  }
}
