<mat-toolbar color="primary">
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
    >
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Angular 16 CRUD using material UI</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">
        Add products
    </button>
</mat-toolbar>

<div class="container">
    <div class="tablePayload">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ProductName Column -->
              <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
              </ng-container>
          
              <!-- Category Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let row"> {{row.category}} </td>
              </ng-container>
          
              <!-- data Column -->
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                <td mat-cell *matCellDef="let row"> {{row.data | date }} </td>
              </ng-container>
          
              <!-- freshness Column -->
              <ng-container matColumnDef="freshness">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Freshness </th>
                <td mat-cell *matCellDef="let row"> {{row.freshness}} </td>
              </ng-container>
          
              <!-- price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
              </ng-container>

               <!-- freshness Column -->
               <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
                <td mat-cell *matCellDef="let row"> {{row.comment}} </td>
              </ng-container>
               
              <!-- freshness Column -->
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell class="button_" *matCellDef="let row"> 
                    <button mat-icon-button color="primary" (click)="editProducts(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
          
          
    </div>
</div>
